﻿<div ng-controller="ProWorksCacheTypeController">
    <div data-ng-repeat="type in cacheTypes">
        <input type='checkbox' id="{{type}}" name="{{type}}" data-ng-checked="checkedCacheTypes.indexOf(type) != -1" ng-click="toggleCheck(type)">
        <label for="{{type}}">{{cacheLabels[$index]}}</label>
    </div>
</div>

