<div ng-controller="ProWorksCacheUpdateToolController" class="proworks-cache-update-tool">
    
    <div data-ng-show="!hasHosts" class="alert alert-error">There are no servers to update.  Please contact your web manager to report this issue.</div>

    <a href data-ng-click="refreshCache()" class="btn btn-primary">{{model.config.buttonText}}</a>

    <div data-ng-show="hasCacheUpdatedDate">
        <label>{{model.config.lastUpdatedText}}</label>
        {{cacheUpdatedDate | date:'MM/dd/yyyy h:mm a'}}
    </div>

    <p data-ng-hide="1">{{model | json}}</p>

</div>
